.ui.basic.placeholder.segment {
    padding: 0;
}

 h1.ui.header.quote::before, div.ui.basic.placeholder.segment {
    background:  #b7996a;
}

.introHome {
    /* font-size: 1.28571429em; */

    color: #d9dcd6;
    font-family:  'Helvetica Neue', sans-serif;
}

.spanHome2 , .codeMessage, .quote, .spanHome {
    color: #d9dcd6;
    font-size: 35px; 
    font-weight: bold;
    font-family:  'Helvetica Neue', sans-serif;
    letter-spacing: -1px; 
    text-shadow: 0 0 10px #3f2e09;
}

.curved svg {
    display: block;
}

.runner {
    position: absolute;
    right: 30px;
    top: 0px;
    width: 700px;
    height: 900px;
    margin-top: -295px;
}

.bodyPartCards {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.bodyPartCards:hover {
    transform: scale(1.1, 1.1);
}

.wrapper::-webkit-scrollbar {
    display: none;
  }

.wrapper {
    max-height: 22rem;
    border: 1px solid darkgoldenrod;
    display: flex;
    overflow-x: auto;
    /* scroll-snap-type: x mandatory */
}

.wrapper #card {
    scroll-snap-align: start;
}





  /* .react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  } */

  @media screen and (max-width:1200px) {
    .runner {
        display: none;
    }
}

/* .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  } */