.ui.segment {
    margin: 0;
    border-radius: 0;
    padding: 0;
}


.ui.basic.placeholder.segment {
    padding: 0;
}

body , div.ui.basic.placeholder.segment {
    background:  rgb(183, 153, 106);
}
